<!--Author: Thadeus Labuszewski 
  This is the contact page where users can see who made this beautiful website. Also not sure if I should include emails.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <% include ../partials/header.ejs %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TA/CA Locator</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">My Schedule</a></li>
      <li><a href="/about">About</a></li>

      <li class="active"><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="container2">
    <div class = "text">
      <h1>Contact</h1>
        
          <h2>Front End</h2>
            <div class = "morep">
            <ul>
              <li>Thadeus Labuszewski</li>
              <li>Elsa Velazquez</li>
              <li>John Osborne</li>
            </ul>
            </div>

          <h2>Back End</h2>
            <div class = "morep">
            <ul>
            <li>Roman Zaytsev</li>
            <li>Colin Murphy</li>
            <li>Alexander Louie</li>
            </ul>
            </div>
            
          <h2>GitHub</h2>
          <div class = "morep">
          <ul>
            <li><a href="https://github.com/Roman260/SoftwareDevProject/tree/Project-Files">SoftwareDevProject</a></li>
          </ul>
            </div>
      </div>
  </div>
</div>
</body>
</html>
